.header {
    @include flex($direction: column, $justify: center, $align: center);

    .logo {
        @include flex($direction: row, $justify: center, $align: center);
        @include spacing($padding:15px 0 0 0);
        @include set-size(100%, $height-div-logo);
        box-shadow: $shadow-header-1;
        z-index: 1;

        & img {
            @include set-size($width-img-logo, auto);
      }
    }

    .search {
        @include flex($direction: row, $justify: center, $align: center);
        @include set-size(100%, $height-div-search);
        background-color: $bg-search;
        box-shadow: $shadow-header-2;
        
        & i {
            @include spacing($margin: 0 10px 0 0);
        }
        & .input-search {
            @include set-size($width-input-search, auto);
            font-size: $size-16;  
            font-weight: $font-weight-title; 
            background: transparent;
            border: none;
            outline: none;
            text-align: center;                                                             
        }
    }

    & a {
        $size: 22px;
        @include absolute($top: $size, $left: $size);
    }
    
}