.blurry {
    filter: blur(8px);
    animation: blur-out 0.3s linear $time-load forwards;

    @keyframes blur-out {
        to {
            filter: blur(0);
        }
    }
}

.contenaire-loader {
    @include flex($direction: row, $align: center, $justify: center);
    @include set-size(100%, 100%);
    position: absolute;
    z-index: 9999;
    background-color: rgba($bg-section, 0.5);
    animation: fade-out 0.3s $time-load forwards;

    @keyframes fade-out {
        to {
            opacity: 0;
            z-index: -1;
        }
    }

    & .loader {
        @include set-size($size-loader, $size-loader);
        border: 10px solid;
        border-top-color: $primaire;
        border-bottom-color: $secondaire;
        border-radius: $radius-loader;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: spin 1.2s infinite ease-in-out;

        @keyframes spin {
            from {
                transform: rotate(0)
            }

            to {
                transform: rotate(360deg)
            }
        }
    }

}

