.wrapper-btn {
    @include flex($direction: row, $justify: center, $align: center);
}

.btn {
    @include set-size($width-btn, $height-btn);
    @include spacing($margin: 30px);
    font-size: $size-16;
    border-radius: $radius-btn;
    color: $font-color-clair;
    box-shadow: $box-shadow-btn; 
    background-image: $bg-btn;
    cursor: pointer;
    border: none;
    font-weight: $font-weight-title;
    text-align: center;
    transition: all .3s ease-in-out; 

    &:hover{ 
        opacity: 0.8;
        box-shadow: $hover-box-shadow;
    }
}


