.wrapper-btn {
    @extend .direction-row;
}

.btn {
    @include spacing($margin: $margin-btns, $padding: $padding-btn-accueil);
    font-size: $size-16;
    border-radius: $radius-btn;
    color: $font-color-clair;
    box-shadow: $box-shadow-btn; 
    background-image: $bg-btn;
    cursor: pointer;
    border: none;
    font-weight: $font-weight-title;
    text-align: center;
    transition: filter .8s ease-in-out, box-shadow .8s ease-in-out; 

    &:hover{ 
        filter: brightness(1.1);
        box-shadow: $hover-box-shadow;
    }
}


