.wrapper-btn {
    @include flex($direction: row, $justify: center, $align: center);
}

.btn {
    @include font-size($size: $size-16);
    @include spacing($margin: 30px);
    color: rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background-image: $bg-btn;
    cursor: pointer;
    border: none;
    box-shadow: $box-shadow-btn; 
    font-weight: 500;
    text-align: center;
    transition: all .3s ease-in-out; 

    &:hover{ 
        opacity: 0.8;
        box-shadow: $hover-box-shadow;
    }
}


