.card-menu {
    @extend .direction-row;
    @include set-size(100%, 70px);
    @extend .style-card;
    overflow: hidden;
    position: relative;

    .label {
        position: absolute;
        @include set-size(100%, 100%);
        cursor: pointer;
    }

    .card-content-menu {
        @extend .direction-row;
        @include set-size(0, 100%);
        flex: 1;
        
        .txt {
            @extend .direction-column;
            @include spacing($padding: 15px, $gap: 2px);
            @include set-size(100%, auto);
            overflow: hidden;
 
            & .elipse {
                @include set-size(100%, auto);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .prix {
            @include spacing($padding: 30px 15px 0 0);
            font-weight: bold;
        }
    }

    .selected {
        @extend .direction-row;
        @include set-size(60px, 100%);
        @include spacing($margin: 0 -60px 0 0);
        background-color: $bg-green;
        border-radius: 0 $radius-card $radius-card 0;      
        transition: margin .5s ease-in-out;

        & i {
            color: $font-color-clair;
        }
    }

    input[type="checkbox"]:checked~.selected {
        @include spacing($margin: 0);
    }

}