.footer {
    @include flex($direction: column, $justify: center, $align: start);
    @include spacing($padding: 22px 25px, $gap: 16px);
    background-color: $bg-footer; 

    & i {
        @include spacing($margin: 0 10px 0 0);
    }

    & h4 {
        font-size: $size-18;
        font-family: $font-title-logo;
        font-weight: $font-weight-title-footer;
    }

    & li, h4, i {
        color: $font-color-clair;
    }

    & .liste-footer {
        @include flex($direction: column, $justify: center, $align: start);
        @include spacing($gap: 8px);

        & li {
            font-weight: $font-weight-title;
        }
        
    }
}