.heart {
    //@include absolute($right: 20px,$bottom: 32px);
    position: relative;
    margin: 20px;
   
    
    input[type="checkbox"] {
        @include absolute($top: 0,$left: 0);
    }

    i {
        @include set-size(auto, $size-heart);
        @include flex($direction: row, $justify: center, $align: center);
        cursor: pointer;
        transition: opacity 1.2s ease;         
    }
    .fa-solid {
        @include absolute($top: 0,$left: 0);
        opacity: 0;
        color: transparent;
        background-image: $bg-heart;
        -webkit-background-clip: text;
        background-clip: text;
    }

    input[type="checkbox"]:checked {           
        + label i.fa-solid {
            opacity: 1; 
        }
        + label i.fa-regular {
            opacity: 0;            
        }
    }
}