.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
   
        & img {
            width: 162px;
      }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EAEAEA;
        width: 100%;
        height: 50px;

        & .input-search {
            background: transparent;
            border: none;
            outline: none;
            text-align: center;
            width: 125px;
        }
    }
    
}