.header {
    @include flex($direction: column, $justify: center, $align: center);

    .logo {
        @include flex($direction: row, $justify: center, $align: center);
        @include spacing($padding:15px 0 0 0);
        height: 63px;
        width: 100%;
        box-shadow: $shadow-header-1;
        z-index: 1;

        & img {
            width: 162px;
      }
    }

    .search {
        @include flex($direction: row, $justify: center, $align: center);
        background-color: #EAEAEA;
        width: 100%;
        height: 50px;
        box-shadow: $shadow-header-2;
        
        & i {
            @include spacing($margin: 0 10px 0 0);
        }
        & .input-search {
            font-size: $size-16;  
            font-weight: $font-weight-title; 
            background: transparent;
            border: none;
            outline: none;
            text-align: center;
            width: 110px;                                                                
        }
    }
    
}