.contenaire {
    @extend .direction-column;
    @include spacing($padding: 0 15px, $gap: 30px);

    & .wrapper {
        @include set-size($width-wrapper-fonctionnement, $height-wrapper-fonctionnement);
        @extend .direction-row;
        border-radius: $radius-card-fonctionnement;
        background-color: $bg-section;
        box-shadow: $box-shadow-btn;
        border: none;
        position: relative;
        
        &:hover {
            & .fa-solid {
                color: $primaire;
            }            
        }

        & .tag-num {
            @include set-size($size-tag-num, $size-tag-num);
            @extend .direction-row;
            @include spacing($padding: 3px 0 0 0);
            border-radius: $radius-tag-num;
            font-weight: $font-weight-title;
            font-size: $size-tag;
            color: $font-color-clair;
            background-color: $primaire;
            @include absolute($top: 25px, $left: -12.5px);
            cursor: default;
        }

        & .content {
            @include flex($direction: row, $justify: start, $align: baseline);
            @include spacing($gap: 20px);
            @include set-size(100%, auto);
        }

        & .fa-solid {
            color: grey;
            margin-left: 28px;
        }

        // & .fa-store {
        //     color: $primaire;
        // }

        & h3 {
            @extend .direction-row;
            font-weight: $font-weight-title;
            font-size: $size-16;
            cursor: default;
        }
    }
}

