.tag-new {
    @include flex($direction: row, $justify: center, $align: center);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 29px;
    background-color: $bg-figcaption;
    color: $txt-figcaption;   
    border-radius: 2px;
}