.tag-new {
    @include flex($direction: row, $justify: center, $align: center);
    @include font-size($size: $size-tag);
    position: absolute;
    top: 12px;
    right: 12px;
    width: 80px;
    height: 29px;
    background-color: $bg-figcaption;
    color: $txt-figcaption;   
    border-radius: 2px;
}