@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// styles
$font-title-logo: 'Shrikhand',sans-serif;
$font-txt: 'Roboto', sans-serif;
//epaisseurs
$font-weight-title: 500;
$font-weight-subtitle: 300;
$font-weight-title-footer: 400;
// tailles
$size-title-restaurants: 28px;
$size-title-home: 24px; //si pas h1
$size-18: 18px;
$size-subtitle-card: 17px;
$size-16: 16px;
$size-subtitle-menu: 15px;
$size-tag: 14px;

//couleur de base
$font-color-clair: white;
$font-color-sombre: black;