body {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.main-contenaire {
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

a {
    border-radius: $radius-card;
    color: inherit;
    text-decoration: none;
    cursor: pointer; 
}

input[type="checkbox"] {
    display: none;
}

.card-subtitle {
    font-size: $size-subtitle-card;
    font-weight: $font-weight-subtitle;
}

.card-title {
    font-size: $size-18;
}

.bg-grey {
    background-color: $bg-section;  
}

.bg-green {
    background-color: $bg-figcaption; 
}

