@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 3px 0px #b9b9b9;
  z-index: 1;
}
.header .logo img {
  width: 162px;
}
.header .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  box-shadow: 0px 3px 5px 0px #acabab;
}
.header .search .input-search {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  width: 110px;
  font-size: 16px;
}

.wrapper-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 16px;
  margin: 30px;
  color: rgb(255, 255, 255);
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(-179deg, #FF79DA -25%, #9356DC 123.93%);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.contenaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contenaire .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  margin: 0 0 0 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 323px;
  height: 73px;
  border-radius: 20px;
  border: none;
  position: relative;
  width: 95%;
}
.contenaire .wrapper .tag-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 3px 0 0 0;
  background-color: #9356DC;
  position: absolute;
  top: 25px;
  left: -12.5px;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
}
.contenaire .wrapper .fa-solid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  color: grey;
}
.contenaire .wrapper .fa-store {
  color: #9356DC;
}
.contenaire .wrapper h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 12px 5px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
  padding: 12px 3px 15px;
  gap: 2px;
}

.card-title {
  font-size: 18px;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.tag-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
}

.heart {
  position: relative;
  align-self: center;
  margin: 0 15px 15px 0;
}
.heart input[type=checkbox] {
  position: absolute;
  display: none;
}
.heart i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.heart .fa-solid {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  background-image: linear-gradient(-193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
.heart input[type=checkbox]:checked + label i.fa-solid {
  opacity: 1;
}
.heart input[type=checkbox]:checked + label i.fa-regular {
  opacity: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
  color: white;
}
.footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.4px;
}
.footer .liste-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

i {
  width: 25px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  padding: 50px 18px 70px;
  gap: 20px;
}

.reserver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
}

.title {
  margin: 20px 0 0 0;
  padding: 0 30px;
}

.subtitle {
  font-size: 18px;
  margin: 10px 0 0 0;
  font-weight: 300;
}

.restaurants {
  background-color: #F6F6F6;
}

.card-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  gap: 15px;
}

/*# sourceMappingURL=styles.css.map */
