@import '../utils/_variables';
@import '../utils/fonts';
@import '../utils/_mixins';

@import '../components/_header';
@import '../components/_button';
@import '../components/_item-fonctionnement';
@import '../components/_card';
@import '../components/_tag-new';
@import '../components/_heart';
@import '../components/_footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font-txt;
    list-style-type: none;
}
i {
    width: 25px;
}
.section {
    @include flex($direction: column, $justify: center, $align: initial);
    @include spacing($padding: 50px 18px 70px, $gap: 20px);
    //border: 2px solid rgb(236, 4, 4);
}

.reserver {
    @include flex($direction: column, $justify: center, $align: center);
    @include bg-section;
    @include spacing($padding: 20px);
    text-align: center;
}

.title {
    @include spacing($margin: 20px 0 0 0, $padding: 0 30px);
}

.subtitle {
    @include font-size($size: 18px);
    @include spacing($margin: 10px 0 0 0);
    font-weight: 300;
}

.restaurants {
    @include bg-section;
}

.card-restaurants {
    @include flex($direction: column, $justify: center, $align: inherit);
    @include spacing($gap: 15px);
}




