@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  color: black;
}

h1, h4 {
  cursor: default;
}

.style-card, .card-menu, .card {
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.card-title {
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  padding: 50px 20px 70px;
  gap: 20px;
}

.reserver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F6F6F6;
  text-align: center;
}

.restaurants {
  background-color: #F6F6F6;
}

.title {
  margin: 20px 0 0 0;
  padding: 0 30px;
}

.subtitle {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  cursor: default;
}

.card-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  gap: 15px;
}

.restaurant img {
  width: 105%;
  height: 275px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.restaurant .menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #F6F6F6;
  margin-top: -50px;
}
.restaurant .menus .header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
  width: 100%;
  padding: 0 20px 0 10px;
}
.restaurant .menus .header-menu .name {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.restaurant .menus .wrapper-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 10px;
  gap: 40px;
  margin-top: 30px;
}
.restaurant .menus .wrapper-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.restaurant .menus .wrapper-menu .menu .majuscule {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  width: 100%;
  gap: 5px;
  text-transform: uppercase;
}
.restaurant .menus .wrapper-menu .menu .majuscule .line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.restaurant .btn {
  width: 186px;
}

.blurry {
  filter: blur(8px);
  animation: blur-out 0.3s linear 0.3s forwards;
}
@keyframes blur-out {
  to {
    filter: blur(0);
  }
}

.contenaire-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(246, 246, 246, 0.5);
  animation: fade-out 0.3s 0.3s forwards;
}
@keyframes fade-out {
  to {
    opacity: 0;
    z-index: -1;
  }
}
.contenaire-loader .loader {
  width: 150px;
  height: 150px;
  border: 10px solid;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: spin 1.2s infinite ease-in-out;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 3px 0px #b9b9b9;
  z-index: 1;
}
.header .logo img {
  width: 163px;
  height: auto;
}
.header .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 3px 5px 0px #acabab;
}
.header .search i {
  margin: 0 10px 0 0;
}
.header .search .input-search {
  width: 110px;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}
.header a {
  position: absolute;
  top: 22px;
  left: 22px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 22px 25px;
  gap: 16px;
  background-color: #353535;
}
.footer i {
  margin: 0 10px 0 0;
}
.footer h4 {
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
.footer li, .footer h4, .footer i {
  color: white;
}
.footer .liste-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.footer .liste-footer li {
  font-weight: 500;
}

.wrapper-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 218px;
  height: 50px;
  margin: 30px;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background-image: linear-gradient(-179deg, #FF79DA -25%, #9356DC 123.93%);
  cursor: pointer;
  border: none;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.contenaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 30px;
}
.contenaire .wrapper {
  width: 95%;
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  position: relative;
}
.contenaire .wrapper .tag-num {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 0 0 0;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  position: absolute;
  top: 25px;
  left: -12.5px;
  cursor: default;
}
.contenaire .wrapper .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  width: 100%;
  height: auto;
}
.contenaire .wrapper .fa-solid {
  color: grey;
}
.contenaire .wrapper .fa-store {
  color: #9356DC;
}
.contenaire .wrapper h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

a {
  border-radius: 15px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}
.card img {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12px 5px;
}
.card .card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 12px 3px 15px;
  gap: 2px;
  width: 100%;
  height: auto;
}

.tag-new {
  width: 80px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
}

.heart {
  position: relative;
  align-self: center;
}
.heart input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.heart i {
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(-193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
.heart input[type=checkbox]:checked + label i.fa-solid {
  opacity: 1;
}
.heart input[type=checkbox]:checked + label i.fa-regular {
  opacity: 0;
}

.card-menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 70px;
}
.card-menu .label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.card-menu input {
  display: none;
}
.card-menu .card-content-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  flex: 1;
}
.card-menu .card-content-menu .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
  gap: 2px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.card-menu .card-content-menu .txt .elipse {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-menu .card-content-menu .prix {
  padding: 30px 15px 0 0;
  font-weight: bold;
}
.card-menu .selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: width 0.5s ease-in-out;
}
.card-menu .selected i {
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card-menu input[type=checkbox]:checked ~ .selected {
  width: 60px;
}
.card-menu input[type=checkbox]:checked ~ .selected i {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
