@import '../utils/_variables';
@import '../utils/fonts';
@import '../utils/_mixins';

@import '../components/_button';
@import '../components/_card';
@import '../components/_heart';
@import '../components/_tag-new';
@import '../components/_header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font-txt;
}

.reserver{
    @include flex($direction: column, $justify: center, $align: center);
    @include bg-section; 
    border: 1px solid blue;
    text-align: center;
    padding: 20px;
    @include spacing($margin: 0, $padding: 20px, $gap: 0)
}
.title {
    @include spacing($margin: 20px 0 0 0, $padding: 0 30px, $gap: 0)
}
.subtitle {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10px;
}
.restaurants {
    @include flex($direction: column, $justify: center, $align: initial); 
    @include bg-section;
    padding: 10px;
    gap: 10px;
}

.card-restaurants {
    @include flex($direction: column, $justify: center, $align: initial);
    gap: 15px;
}
