
.restaurant {
    img {
        @include set-size(105%, 275px);
        //@include set-size(105%, auto);
        object-fit: cover;
        position: relative;
        z-index: -1;
    }

    .menus {
        @include flex($direction: column, $justify: center, $align: center);
        border-radius: 40px;
        background-color: $bg-section;
        margin-top: -50px;
        
        .header-menu {
            @include flex($direction: row, $justify: space-between, $align: center);
            margin-top: 30px;
            font-weight: 500;
            width: 100%;
            padding: 0 20px 0 10px;
         

            .name {
                font-family: $font-title-logo;
                font-size: $size-title-restaurants;
                font-weight: 500;
                
            }
        }

        .wrapper-menu {
            @include flex($direction: column, $justify: center, $align: start);
            width: 100%;
            padding: 10px;
            gap: 40px;
            margin-top: 30px;

            .menu {
                @include flex($direction: column, $justify: center, $align: start);
                gap: 10px;
                width: 100%;

                .majuscule {
                    font-weight: 300;
                    @include flex($direction: column, $justify: unset, $align: unset);
                    width: 100%;
                    gap: 5px;
                    text-transform: uppercase;

                    & .line {
                        width: 40px;
                        height: 3px;
                        background-color: $bg-figcaption;
                    }
                }


            }
        }
    }

    .btn {
        width: 186px;
    }

}

