


.restaurant{
    img {
        @include set-size(105%, 275px);
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
    .header-menu{
        @include flex($direction: row, $justify: center, $align: center);
        margin-top: 50px;
    }
    .name{
        font-family: $font-title-logo;
        font-size: $size-title-restaurants;
        width: 90%;
    }
    .menu{
        @include flex($direction: column, $justify: unset, $align: unset);
        border-radius: 50px;
        background-color: brown;
        margin-top: -50px;
    }

    .card {
        @include flex($direction: column, $justify: center, $align: initial);  
        border-radius: $radius-card;
        background-color: $bg-card;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        .card-subtitle {
            @include flex($direction: row, $justify: space-between, $align: center);
            @include set-size(100%, auto);
        }
    }
}
