@import '../base/fonts';
@import '../base/reset';

@import '../utils/_variables';
@import '../utils/_mixins';
@import '../utils/_extend';

@import '../base/_normalize';

@import '../layout/_loader';
@import '../layout/_header';
@import '../layout/_footer';


@import '../components/_button';
@import '../components/_item-fonctionnement';
@import '../components/_card';
@import '../components/_tag-new';
@import '../components/_heart';


.section {
    @include flex($direction: column, $justify: center, $align: initial);
    @include spacing($padding: 50px 20px 70px, $gap: 20px);
}

.reserver {
    @include flex($direction: column, $justify: center, $align: center);
    @include spacing($padding: 20px);
    @extend .bg-grey;
    text-align: center;
}

.restaurants {
    @extend .bg-grey;
}

.title {
    @include spacing($margin: 20px 0 0 0, $padding: 0 30px);
}

.subtitle {
    @include spacing($margin: 10px 0 0 0);
    font-size: $size-18;
    font-weight: $font-weight-subtitle;
    cursor: default;
}

.card-restaurants {
    @include flex($direction: column, $justify: center, $align: inherit);
    @include spacing($gap: 15px);
}

@media (min-width: 767.98px) {
    .header {
        .logo,
        .search {
            box-shadow: none;
        }
    }
    
    .contenaire {
        @include flex($direction: row, $justify: center, $align: center);

        & .wrapper {
            & .content {
                @include flex($direction: row, $justify: start, $align: center);
                text-align: start;
                margin-right: 20px;
            }
        }
    }

    .card-restaurants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include spacing($gap: 50px 100px);
    }

    .footer {
        @include flex($direction: row-reverse, $justify: end, $align: flex-end);
        @include set-size(100%, 115px);
        @include spacing($padding: 0px 25px 25px 0px, $gap: 16px);
        & h2 {
            @include spacing($margin: 0px 25px 0 0);        
        }
        & .liste-footer {
            @include flex($direction: row, $justify: center, $align: center);
            @include spacing($margin:0px 0px 3px 0px);  

            & :nth-child(2),
            & :nth-child(4) {
                @include spacing($margin: 0 30px 0 0);
            }          
        }
    }
}