@import '../base/fonts';
@import '../base/reset';

@import '../utils/_variables';
@import '../utils/_mixins';
@import '../utils/_extend';

@import '../base/_normalize';

@import '../layout/_loader';
@import '../layout/_header';
@import '../layout/_footer';

@import '../components/_button';
@import '../components/_item-fonctionnement';
@import '../components/_card';
@import '../components/_tag-new';
@import '../components/_heart';

.section {
    @include spacing($padding: 50px 20px 70px, $gap: 20px);
}

.reserver {
    @extend .direction-column;
    @include spacing($padding: 20px);
    @extend .bg-grey;
    text-align: center;
}

.restaurants {
    @extend .bg-grey;
}

.title {
    @include spacing($margin: 20px 0 10px 0, $padding: 0 30px);
}

.subtitle {
    font-size: $size-18;
    font-weight: $font-weight-subtitle;
    cursor: default;
}

.card-restaurants {
    @extend .direction-column;
    @include spacing($gap: 15px);
}

.max-width {
    max-width: 1080px;
    align-self: center;
    width: 100%;

    & h2 {
        margin-bottom: 30px;
    }
}

@media (min-width: 767.98px) {
    .reserver {
        gap: 30px;
    }
    .section {
        @include spacing($padding: 40px 20px, $gap: 20px);
    }    
    .title {
        font-size: 40px;
        @include spacing($margin: 10px 0 0 0, $padding: 0);
    }
    .btn {
        margin: 0 0 10px 0;
    }
    .contenaire {
        @include flex($direction: row, $justify: center, $align: center);

        & .wrapper {
            & .content {
                @include flex($direction: row, $justify: start, $align: center);
                text-align: start;
                margin-right: 20px;
            }
        }
    }

    .card-restaurants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include spacing($gap: 50px 100px);
    }

    .max-width {
        padding: 0 30px;
    }
}