@import '../base/fonts';
@import '../base/reset';

@import '../utils/_variables';
@import '../utils/_mixins';
@import '../utils/_extend';

@import '../base/_normalize';

@import '../layout/_header';
@import '../layout/_footer';

@import '../components/_button';
@import '../components/_heart';
@import '../components/_card-menu';

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        @include set-size(100%, 275px);
        //@include set-size(105%, auto);
        object-fit: cover;
        position: relative;
        z-index: -1;
    }

    .menus {
        @include flex($direction: column, $justify: center, $align: center);
        @include spacing($margin: -50px 0 0 0);
        border-radius: 40px 40px 0 0;
        @extend .bg-grey;
        width: 100%;
        max-width: 1055px;


        .header-menu {
            @include flex($direction: row, $justify: space-between, $align: center);
            @include set-size(100%, auto);
            @include spacing($margin: 30px 0 0 0, $padding:10px);
            
            .heart {
                margin-bottom: 0;
            }

            .name {
                font-family: $font-title-logo;
                font-size: $size-title-restaurants;
                font-weight: $font-weight-title;
            }
        }

        .wrapper-menu {
            @include flex($direction: column, $justify: center, $align: start);
            @include set-size(100%, auto);
            @include spacing($margin: 30px 0 0 0, $padding: 10px, $gap: 40px);
            max-width: 615px;
            .menu {
                @include flex($direction: column, $justify: center, $align: start);
                @include set-size(100%, auto);
                @include spacing($gap: 10px);
                @extend .animate;

               .majuscule {
                    font-size: $size-16;
                    font-weight: $font-weight-subtitle;
                    @include flex($direction: column, $justify: unset, $align: unset);
                    @include set-size(100%, auto);
                    @include spacing($gap: 5px);
                    text-transform: uppercase;

                    & .line {
                        @include set-size(40px, 3px);
                        @extend .bg-green;
                    }
                }


            }
        }
    }

    .btn {
        @include set-size($width-btn-commander, $height-btn);
    }

}

@keyframes slide-in-right{
    to {
        transform: translateX(0);
    }
}

.animate {
    transform: translateX(100%);
    animation: slide-in-right 1.2s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    
    &:nth-child(2) {
        animation-delay: 0.2s; 
    }
    &:nth-child(3) {
        animation-delay: 0.4s; 
    }
    &:nth-child(4) {
        animation-delay: 0.6s; 
    }

}

@media (min-width: 767.98px) {
    .restaurant .menus .header-menu {
        @include flex($direction: row, $justify: center, $align: center);
    }
}
