
$primary: #9356DC;

$bg-btn: linear-gradient(-193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
$box-shadow-btn: 0px 4px 10px 0px #00000040;
$hover-box-shadow: 0px 4px 15px 0px #00000059;

$bg-heart: linear-gradient(-193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

$bg-figcaption: #99E2D0;
$txt-figcaption: #008766;

$bg-section: #F6F6F6;
$bg-card: rgb(255, 255, 255);