// TEMPS


//loader
$time-load: 0.3s;


// COLOR
$primaire: #9356DC;
$secondaire: #FF79DA;

$bg-search: #EAEAEA;
$bg-footer: #353535;

$bg-btn: linear-gradient(-179deg, $secondaire -25%, $primaire 123.93%);
$box-shadow-btn: 0px 4px 10px 0px #00000040;
$hover-box-shadow: 0px 4px 15px 0px #00000059;

$bg-heart: linear-gradient(-193.33deg, $primaire -11.44%, $secondaire 123.93%);

$bg-figcaption: #99E2D0;
$txt-figcaption: #008766;

$bg-section: #F6F6F6;
$bg-card: white;        

$shadow-header-1: 0px 2px 3px 0px #b9b9b9;
$shadow-header-2: 0px 3px 5px 0px #acabab;



//BORDER
$radius-card: 15px;
$radius-card-fonctionnement: 20px;
$radius-btn: 25px;
$radius-tag-new: 2px;
$radius-tag-num: 50px;
$radius-loader: 50%;

//TAILLE
//header
$height-div-logo: 63px;
$width-img-logo: 163px;
$height-div-search: 50px;
$width-input-search: 110px;
//coeur
$size-heart: 30px;
//loader
$size-loader: 150px;
// numero entourer
$size-tag-num: 24px;
// wrapper fonctionnement
$width-wrapper-fonctionnement: 95%;
$height-wrapper-fonctionnement: 73px;
//etiquette nouveau
$width-tag-new: 80px;
$height-tag-new: 29px;
// bouton
$width-btn: 218px;
$height-btn: 50px;



